.votes{
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
    box-shadow: 2px 2px 12px #a7d6b4,
        1px 2px 10px #e2c5c5;
}

.name-card{
    border-radius: 20px;
    background-color: #272727;
    color: white;
    /* font-size: 14px; */
    padding: 3px 0;
    margin: 0;
}